@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    width:100%;
    height:100vh;
    background:linear-gradient(280deg,#0abde3 80%,black 20%);
    color:white;
    position: relative;
}
nav{
    width:100%;
    height:80px;
    padding:20px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:0;
    z-index: 99;
}
.logo{
    font-size: 2em;
}
.logo i{
    background-color: red;
    border-radius:50%;
    padding:10px;
    font-size: 30px;
    margin:5px;
}
.menu i{
    font-size: 2em;
}
#headphone{
    width:330px;
    position:absolute;
    top:8%;
    right:30%;
    z-index:1;
}
.watermark{
    position:absolute;
    color:rgba(255,255,255,0.5);
    letter-spacing:3rem;
    bottom:5%;
    left:5%;
    font-size: 8em;
}
.swiper {
    width: 100%;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height:100%;
}
.slider{
    max-width: 230px;
    height: 230px;
    position: absolute;
    top:20%;
    left:5%;
}
#sidenav{
    width:0px;
    height:70vh;
    background-color: #262626;
    position:absolute;
    top:0;
    right:0;
    z-index: 2;
    padding-top:100px;
    border-radius: 65% 35% 70% 30% / 30% 30% 70% 70% ;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
#sidenav a{
    text-decoration:none;
    color:white;
    font-size:20px;
    text-align: center;
    margin:15px auto;
    display:block;
    padding:10px 20px;
    /* position:absolute; */
    transition:0.4s;
}
#sidenav a:first-child{
    color:#0abde3;
}
#sidenav a:hover{
   color:#0abde3; 
}
#menubar{
    font-size: 30px;
    cursor: pointer;
}